body {
  padding: 0;
  text-align: center;
  background-image: url("../Images/selva.jpg");
  background-size: cover;
  /* width: 100%; */
  /* height: 100%; */
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  margin-top: 100px;
  width: 250px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 50px;
  background-color: blue;
  color: white;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 40px;
}

#game-board {
    float: left;
    padding: 20px 0px;
}


